<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: whitesmoke">
<div class="container"  style="background-color: linen">
    <header>
        <!--<h1 class="bg-secondary text-white text-center"><br/>Schronisko Reksio i Klakier<br/><br/></h1>-->
        <img th:src="4985392932_ca67a39f42_bv42.jpg" alt="nie można wstawić zdjęcia"  class="img-fluid">
    </header>
    <div class="container">
        <div class="row">
            <a href="/">Powrót do listy</a>
        </div>
    </div>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <h2><br/>Edycja</h2>

        <!--</div>-->
    <!--</div>-->
    <form th:action="@{/edycja}" method="post" th:object="${animal}">
        <div class="form-group row">
            <label for="Id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-md-4">
                <input type="number" name="id" class="form-control" id="Id" placeholder="Id"
                       th:field="*{id}" readonly><br>
            </div>
        </div>
        <div class="form-group row">
            <label for="nameId" class="col-sm-2 col-form-label">Imię</label>
            <div class="col-md-4">
                <input type="text" name="name" class="form-control" id="nameId" placeholder="Imię"
                       th:field="*{name}"><br>
            </div>
        </div>
        <div class="form-group row">
            <label for="descriptionId" class="col-sm-2 col-form-label">Opis</label>
            <div class="col-md-4">
                <textarea name="description" class="form-control" id="descriptionId" placeholder="Opis"
                          th:field="*{description}"></textarea><br>
            </div>
        </div>
        <div class="form-group row">
            <label for="nameId" class="col-sm-2 col-form-label">Kategoria</label>
            <div class="col-md-4">
                <select th:field="*{category}" class="form-control" id="categoryId" placeholder="Kategoria"><br>
                    <option th:each="cat: ${categories}" th:text="${cat}" th:value="${cat}">wybierz</option>
                </select><br/>
            </div>
        </div>

        <div class="form-group row">
            <label for="imgUrlId" class="col-sm-2 col-form-label">Zdjęcie</label>
            <div class="col-md-4">
                <input type="text" th:field="*{imgUrl}" class="form-control" id="imgUrlId" placeholder="Zdjęcie"><br>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6" align="right">
                <button type="submit" class="btn btn-primary col-sm-3" >Zmień</button>
            </div>
        </div>

    </form>
    <br/>
</div>
</body>
</html>