<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona glowna schroniska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: whitesmoke">
<div class="container"  style="background-color: linen">
    <header>
        <!--<h1 class="bg-secondary text-white text-center"><br/>Schronisko Reksio i Klakier<br/><br/></h1>-->
        <img th:src="4985392932_ca67a39f42_bv42.jpg" alt="nie można wstawić zdjęcia"  class="img-fluid">
    </header>
    <div class="container">
        <div class="row">
            <a href="/dodaj">Dodaj zwierzaka</a>
        </div>
    </div>

    <!--<div class="container">-->
    <div class="row">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="/rodzaj" tabindex="-1" aria-disabled="true">Kategotie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rodzaj?category=Zwierzęta">Wszystkie</a>
            </li>
            <a th:each="cat:${allCategories}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/rodzaj?category='+${cat}}" th:text="${cat}">Koty</a>
                </li>
            </a>

        </ul>
    </div>
    <!--</div>-->

    <br/><h2>Zwierzaki szukające domu</h2>
    <a href="/listsort">Sortowanie<br/></a>
    <br/>

    <!--<h2 style="background-color: aqua" ><br/>Zwierzaki szukające domu</h2><br/>-->
    <ul class="list-unstyled" th:remove="all-but-first">


        <li th:each="animal:${allAnimals}">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{'/szczegoly?id='+${animal.id}}">
                        <img th:src="${animal.imgUrl}"
                             alt="brak zdjęcia" width="200" height="200">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <a th:href="@{'/szczegoly?id='+${animal.id}}"><br/>
                            <h3 th:text="${animal.name}"></h3><br/></a>
                    </div>
                    <div class="row">
                        <a th:href="@{'/szczegoly?id='+${animal.id}}"
                           th:text="${animal.shortDescription()}"></a>
                    </div>
                </div>

            </div>

            <br/>
            <hr>
            <br/>
        </li>
        <br/>
        <li>
            <a href="/azor">Azor</a></li>
        <br/>
        <li><a href="/latka">Łatka</a></li>
        <br/>
        <li><a href="/robak">Robak</a></li>
        <br/>
    </ul>

</div>

</body>
</html>